<div id="explanation">
    {{}}, vous être un « secret santa ». En tant que tel, vous allez offrir un cadeau à l'un de vos collègues, mais votre identité devra rester cachée. Les temps étant durs, vous ne disposez que d'un budget très limité, et la valeur de votre présent de devra pas dépasser la modique somme de 5€. Laissez parler votre créativité !
    <br><br>
    Si un flou persiste dans votre esprit, n'hésitez pas à contacter Jérôme, votre Chief Happiness Officer, qui se fera bien entendu un plaisir de vous répondre 😊
    <br><br>
    Il ne me reste plus qu'à vous donner rendez-vous le 14 décembre 🎁
    <br><br><br>
    Cdlt,<br>
    Papa Noël
    <div>
        <form action="/fortune-wheel" method="post">
            <input class="button" id="continue" name="{{}}" value="Continuer" type="submit">
        </form>
    </div>
</div>