<h1 id="hoho">HO HO HO !</h1>
<div id="intro">
    <h1 id="welcome">Bienvenue sur la page du Secret Santa IGAD 🎅🏻</h1>
    <div class="button hide" >Comment ça marche ce truc ???</div>
</div>
<div id="identification" class="hide">
    La première étape va être de vous identifier.<br><br> Vous êtes : <br><br>
    <div id="participants">{{}}</div>
</div>
<div id="modal">
    <div id="modal-text"></div>
    <form class="buttons" action="/explanation" method="post">
        <input id="oui" name="" class="button2" type="submit" value="Oui">
        <div id="non" class="button2">Non, je me<br>suis gouré(e)</div>
    </form>
</div>

<div id="overlay" class=""></div>

<script type="module" src="static/main.js"></script>